.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(229, 228, 246);
  background: linear-gradient(
    131deg,
    rgba(229, 228, 246, 1) 0%,
    rgba(68, 103, 171, 1) 100%
  );
}

.login {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 20px #454545;
  width: 80vw;
  max-width: unset;

  background-color: #fff;
}

@media (min-width: 768px) {
  .login {
    width: 40vw;
    max-width: 400px;
  }
}

.template {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 50px;
}

p {
  text-align: center;
  font-size: 20px;
}

@media (min-width: 768px) {
  p {
    font-size: 30px;
  }
}
