<div class="login-container" *ngIf="!isEmailSent; else showEmailSent">
  <form class="login">
    <span class="text-lg mb-4">Encontar tu cuenta</span>

    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input
        type="text"
        matInput
        placeholder="Correo electrónico"
        [formControl]="email"
      />
    </mat-form-field>

    <button
      [disabled]="!email.valid"
      mat-flat-button
      color="primary"
      (click)="onSubmit($event)"
    >
      Send
    </button>
  </form>
</div>

<ng-template #showEmailSent>
  <div class="template">
    <p>Si tus datos son correctos, tu recibirás un correo.</p>
  </div>
</ng-template>
