.nav {
  position: absolute;
  width: 100%;
  top: 0;
}

.items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logged {
  display: flex;
  align-items: center;
}

.username {
  font-size: 14px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .username {
    font-size: 16px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .logged {
    gap: 10px;
  }
}

.menu-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;

  & > button {
    width: 100%;
  }
}
