<p class="nav">
  <mat-toolbar color="primary" class="items-container">
    <div>
      <span routerLink="home" style="cursor: pointer">Pokémon Info</span>
    </div>
    <div>
      <ng-container *ngIf="user$ | async as user; else showLinks">
        <div class="logged">
          <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu>
            <div class="menu-center">
              <h3 class="username">{{ user.email }}</h3>
              <button
                mat-flat-button
                color="primary"
                (click)="openProblemDialog()"
              >
                Abrir prueba
              </button>
              <button mat-flat-button color="warn" (click)="onSignOut()">
                Cerrar sesión
              </button>
            </div>
          </mat-menu>
        </div>
      </ng-container>

      <ng-template #showLinks>
        <button mat-flat-button color="primary" routerLink="users/sign-in">
          Sign In
        </button>
        <button mat-flat-button color="primary" routerLink="users/sign-up">
          Sign Up
        </button>
      </ng-template>
    </div>
  </mat-toolbar>
</p>
