.home-container {
  margin-top: 100px;

  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    width: 80vw;
    max-width: 1200px;
    margin: 0 auto;

    &-input {
      flex: 1;
    }

    &-buttons {
      display: flex;
      gap: 20px;
    }
  }
}

.table {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  height: 500px;

  th {
    text-align: left;
  }
}
