.home-container {
  margin-top: 70px;

  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1px;

    width: 80vw;
    max-width: 1200px;
    margin: 0 auto 20px;

    &-input {
      flex: 1;
    }

    &-buttons {
      display: flex;
      gap: 10px;
    }
  }
}

@media (min-width: 768px) {
  .home-container {
    &__inputs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      flex-direction: unset;

      width: 80vw;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}

.table {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  height: 500px;

  th {
    text-align: left;
  }
}
