<div class="login-container">
  <form class="login" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-header">
      <span class="form-header__logo">Pokémon Info</span>
      <span class="form-header__title text-lg mb-4">Sign In</span>

      <button class="form-header__button" (click)="signInGoogle()">
        <img
          style="width: 18px"
          src="./../../../assets/google-icon.png"
          alt=""
        />
        Sign in with Google
      </button>
    </div>

    <mat-divider style="padding-bottom: 20px"></mat-divider>

    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input
        type="text"
        matInput
        placeholder="Correo electrónico"
        formControlName="email"
      />

      <app-error-message [control]="form.get('email')!" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input
        [type]="hide ? 'password' : 'text'"
        matInput
        placeholder="Contraseña"
        formControlName="password"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
      <app-error-message [control]="form.get('password')!" />
    </mat-form-field>

    <button mat-button mat-flat-button color="primary">Ingresar</button>

    <div class="flex justify-content-end mt-5">
      ¿Aún no tiene una cuenta? <a routerLink="/users/sign-up">Sign up</a>
    </div>
  </form>
</div>
