<div class="login-container">
  <form class="login" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-header">
      <span class="form-header__logo">Pokemos Info</span>
      <span class="form-header__title text-lg mb-4">Sign Up</span>

      <button class="form-header__button" (click)="signInGoogle()">
        <img
          style="width: 18px"
          src="./../../../assets/google-icon.png"
          alt=""
        />
        Sign up with Google
      </button>
    </div>

    <mat-divider style="padding-bottom: 20px"></mat-divider>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input
        type="text"
        matInput
        placeholder="Nombre"
        formControlName="fullName"
      />
      <app-error-message [control]="form.get('fullName')!" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input
        type="text"
        matInput
        placeholder="Correo electrónico"
        formControlName="email"
      />
      <app-error-message [control]="form.get('email')!" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthday" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <app-error-message [control]="form.get('birthday')!" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefono</mat-label>
      <input
        type="text"
        matInput
        placeholder="Número de teléfono"
        formControlName="phoneNumber"
      />
      <app-error-message [control]="form.get('phoneNumber')!" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        placeholder="Contraseña"
        formControlName="password"
      />
      <app-error-message [control]="form.get('password')!" />
    </mat-form-field>

    <button mat-button mat-flat-button color="primary">Ingresar</button>

    <div class="flex justify-content-end mt-5">
      <p>Si ya tienes una cuenta <a routerLink="/users/sign-in">Sign in</a></p>
    </div>
  </form>
</div>
