<div class="login-container">
  <div class="login">
    <span class="text-lg mb-4">Sign Up</span>

    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Nombre" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="text" matInput placeholder="Nombre" />
    </mat-form-field>

    <button mat-button mat-flat-button color="primary">Ingresar</button>

    <div class="flex justify-content-end mt-5">
      <a routerLink="/user/sign-in">¿No tienes una cuenta?</a>
    </div>
  </div>
</div>
