.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 10px #454545;
  width: 80vw;
  max-width: unset;
}

@media (min-width: 768px) {
  .login {
    width: 40vw;
    max-width: 400px;
  }
}
